@import "stylus-utilus/mixins/background-image.styl";

.background-image-test-1 {
	background-image: url(x.png);
}
.background-image-test-2 {
	background-image: url(x.png), url(y.png);
}
.background-image-test-3 {
	background-image: linear-gradient(#000, #FFF);
}
.background-image-test-4 {
	background-image: linear-gradient(#000, #FFF), linear-gradient(#FFF, #000);
}
.background-image-test-5 {
	background-image: url(x.png) no-repeat;
}
.background-image-test-6 {
	background-image: url(x.png) top left repeat-x;
}
.background-image-test-7 {
	background-image: url(x.png) right bottom repeat-y;
}
.background-image-test-8 {
	background-image: url(x.png) center;
}
.background-image-test-9 {
	background-image: url(x.png) left center no-repeat;
}
.background-image-test-9-1 {
	background-image: url(x.png) center left no-repeat;
}
.background-image-test-10 {
	background-image: url(x.png) center top repeat-x;
}
.background-image-test-10-1 {
	background-image: url(x.png) top center repeat-x;
}
.background-image-test-11 {
	background-image: url(x.png) 10px;
}
.background-image-test-12 {
	background-image: url(x.png) 10px 90px;
}
.background-image-test-13 {
	background-image: url(x.png) 50px 10px no-repeat;
}