@import "stylus-utilus/mixins/display.styl";

.test-display-1 {
	display: block;
}
.test-display-2 {
	display: none;
}
.test-display-3 {
	display: inline-block;
}
.test-display-4 {
	display: fixed-table;
}
.test-display-5 {
	display: block !important;
}