@import "stylus-utilus/mixins/font-size.styl";

.test-font-size-1 {
	font-size: 1em;
}
.test-font-size-2 {
	font-size: 10px/1.6;
}
.test-font-size-3 {
	font-size: 10px/1.6 !important;
}
.test-font-size-4 {
	font-size: 10px !important;
}
.test-font-size-5 {
	font-size: 10px !important/1.6;
}
.test-font-size-6 {
	font-size: 10px !important/1.6!important;
}