@import "stylus-utilus/functions/ps-shadows.styl";

.test-ps-drop-shadow-1 {
	box-shadow: ps-drop-shadow(45deg, 0, 0, 1px);
}
.test-ps-drop-shadow-2 {
	box-shadow: ps-drop-shadow(45deg, 1px, 0, 1px);
}
.test-ps-drop-shadow-3 {
	box-shadow: ps-drop-shadow(45deg, 1px, 1px, 1px);
}