/**
 * @copyright Devexperts
 */

/*
 * Usage:
 * font-size: 10px;
 * font-size: 10px/1.5;
 * font-size: 10px !important;
 * font-size: 10px/1.5 !important;
*/
font-size($fontSize, args...) {
	$important = (last(args) == !important) ? last(args) : null;

	font-size: $fontSize $important;

	if (args[0] == '/') {
		line-height: args[1] $important;
	}
}